# Dependencies
node_modules/
.pnp/
.yarn/

# Logs and caches
*.log
.expo
.gradle/
.DS_Store

# Build outputs
android/app/build/
ios/build/
dist/
android

# Assets (exclude raw/large files; keep optimized ones)
**/*.psd
**/*.sketch
**/*.ai



# Tests and docs
__tests__/
*.test.*
docs/

CHANGELOG.md

# IDE files
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore